/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --h1-color: #db00ff;
  --h2-color: #ff0070;
  --h3-color: #000028;
  --main-text-color: #f1b2ce;
  --title-decor-text-color: #000028;
  --accent-color: #ff0070;
  --button-color: #ff0070;
  --button-color-hover: #ff007066;
}
