/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-font: 'IBM Plex mono', sans-serif;
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --h1-color: #FFC2E6;
  --h2-color: #353430;
  --h3-color: #353430;
  --main-text-color: #353430;
  --title-decor-text-color: #353430;
  --accent-color: #FF8DCB;
  --button-color: #353430;
  --button-color-hover: #32312D40

}

:root:not(.theme-dark) .header_decoration {
    display: none;
  } 