/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --h1-color: #ffc2e6;
  --h2-color: #353430;
  --h3-color: #353430;
  --main-text-color: #353430;
  --title-decor-text-color: #353430;
  --accent-color: #ff8dcb;
  --button-color: #353430;
  --button-color-hover: #32312d40;
}

/* Убирает декоративный элемент REC */
:root.theme-light .header__decoration {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --h1-color: #ffc2e6;
    --h2-color: #353430;
    --h3-color: #353430;
    --main-text-color: #353430;
    --title-decor-text-color: #353430;
    --accent-color: #ff8dcb;
    --button-color: #353430;
    --button-color-hover: #32312d40;
  }

  :root.theme-auto .header__decoration {
    display: none;
  }
}
