/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: grid;
  grid-template-columns: minmax(375px, 768px);
  justify-content: center;
  gap: 40px;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  padding: 10px;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.3em;
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.header__theme-menu {
  grid-column: 2;
  justify-self: end;
  align-self: center;
}

.header__title {
  grid-column: span 2;
  grid-row: 2 / 3;
  color: var(--h1-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
}

.header__title-aligned {
  display: block;
}

.header__description {
  grid-column: span 2;
  grid-row: 3 / auto;
  align-self: center;
  font-weight: 700;
  line-height: 1.3em;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-decor-text-color);
}

.title-decor-regular {
  background-color: var(--accent-color);
  color: var(--title-decor-text-color);
  font-weight: 400;
}

.header_decoration {
  position: absolute;
  inset-inline-end: 40px;
  inset-block-start: 10px;
  color: var(--accent-color);
  text-transform: uppercase;
  line-height: 1.4em;
}

.header_decoration::after {
  content: '';
  display: inline-block;
  align-items: center;
  margin-inline-start: 10px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  
}

.header::before {
  content: '';
  position: absolute;
  inset-inline-end: 0px;
  inset-block-start: 0px;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}

.header::after {
  content: '';
  position: absolute;
  inset-inline-start: 0px;
  inset-block-end: 0px;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}

.content__section:not(:last-of-type) {
  margin-bottom: 50px;
}

.section__heading {
  color: var(--accent-color);
  margin-bottom: 20px;
}

.accent-heading {
  color: var(--h3-color);
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 20px;
}

.card__description {
  color: #F1B2CE;
}

.description-link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
  outline: none;
}

.description-link:hover {
  border-bottom: 1px solid #F1B2CE;
}

.description-link:focus-visible {
  border: 1px solid #F1B2CE;
}





