/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
body {
  margin: 0;
  padding: 0;
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  justify-content: center;
  gap: 30px;
  padding: 10px;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.3em;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: auto;
}

/* Стили шапки */
.header {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, min-content);
  padding-block-end: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.header__theme-menu {
  grid-column: 2 / 3;
  justify-self: end;
  align-self: center;
  margin: 65px 0;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  margin: 0;
  border: none;
  padding: 0 13px;
  color: var(--button-color);
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-color-hover);
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header__title {
  grid-column: span 2;
  color: var(--h1-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__title-aligned {
  display: block;
}

.header__description {
  grid-column: span 2;
  align-self: center;
  margin: 60px 0;
  font-weight: 700;
  line-height: 1.3em;
}

.title-decor {
  color: var(--title-decor-text-color);
  background-color: var(--accent-color);
}

.title-decor-regular {
  color: var(--title-decor-text-color);
  font-weight: 400;
  background-color: var(--accent-color);
}

.header__decoration {
  position: absolute;
  color: var(--accent-color);
  line-height: 1.4em;
  text-transform: uppercase;
  inset-inline-end: 7px;
  inset-block-start: 0px;
}

.header__decoration::after {
  content: "";
  display: inline-block;
  align-items: center;
  width: 12px;
  height: 12px;
  margin-inline-start: 10px;
  border-radius: 100%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-inline-end: 0px;
  inset-block-start: 0px;
}

.header::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-inline-start: 0px;
  inset-block-end: 20px;
}

/* Стили основного контента */
.content {
  display: grid;
  gap: 50px;
}

.content__section {
  display: grid;
  gap: 20px;
}

.section__heading {
  color: var(--h2-color);
}

.section__list {
  display: grid;
  gap: 20px;
}

.accent-heading {
  color: var(--h3-color);
}

.card {
  display: grid;
  gap: 10px;
}

.card__description {
  color: var(--main-text-color);
}

.description-link {
  outline: none;
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.description-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.description-link:focus-visible {
  border: 1px solid var(--main-text-color);
}

.gallery {
  gap: 10px;
}

.list-item__image {
  width: 100%;
}

/* Стили футера */
.footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-block-start: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  color: var(--h1-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.footer::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-inline-end: 0px;
  inset-block-start: 20px;
}

.footer::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-inline-start: 0px;
  inset-block-end: 0px;
}

/* Стили для экранов планшета */
@media (width >= 768px) {
  .page {
    gap: 40px;
    padding: 20px;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .header::after {
    inset-block-end: 40px;
  }

  .header__theme-menu {
    margin: 9.6em 0;
  }

  .header__title {
    margin: 5px -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    grid-column: 2 / 3;
    margin: 160px 0;
  }

  .header__title-aligned {
    display: initial;
  }

  .content {
    gap: 80px;
  }

  .content__section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section__heading {
    grid-column: 1;
  }

  .section__list {
    grid-column: 2 / 3;
  }



  .column-style .section__heading {
    grid-column: 1 / 2;
  }

  .column-style .section__list {
    grid-column: 1 / 3;
  }

  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .gallery .section__heading {
    grid-column: 1 / 4;
  }

  .list-item__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery .list-item__image:nth-child(2) {
    grid-column: 1 / 3;
  }

  .gallery .list-item__image:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .gallery .list-item__image:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .gallery .list-item__image:nth-child(6) {
    grid-column: 2 / 4;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* Стили для экранов десктопа */
@media (width >= 1024px) {
  .header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    block-size: 100vh;
    min-block-size: 668px;
  }

  .header__title {
    margin: 45px 0 0 -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    margin: 0 0 110px 0;
  }

  .header__theme-menu {
    grid-column: 1/3;
    justify-self: center;
    align-self: flex-start;
    margin-block-start: 0;
  }

  .header__theme-menu-button {
    margin: 0;
    padding: 0 13px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .column-style {
    margin-bottom: -25px;
  }

  .column-style .section__list {
    grid-template-rows: repeat(auto-fill, minmax(315px, 1fr));
    grid-auto-flow: column;
  }

  .content__section .column-style {
    grid-template-columns: repeat(auto-fill, 1fr);
  }


  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
