/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  justify-content: center;
  gap: 40px;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  padding: 10px;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.3em;
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.header__theme-menu {
  grid-column: 2;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background: transparent;
  border: none;
  padding: 0 25px;
  margin: 0;
  color: var(--button-color);
  cursor: pointer;
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-color-hover);
}

.header__theme-menu-button:focus {
  border-block-end: 1px solid var(--button-color);
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
}



.header__title {
  grid-column: span 2;
  grid-row: 2 / 3;
  color: var(--h1-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
}

.header__title-aligned {
  display: block;
}

.header__description {
  grid-column: span 2;
  grid-row: 3 / auto;
  align-self: center;
  font-weight: 700;
  line-height: 1.3em;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-decor-text-color);
}

.title-decor-regular {
  background-color: var(--accent-color);
  color: var(--title-decor-text-color);
  font-weight: 400;
}

.header_decoration {
  position: absolute;
  inset-inline-end: 40px;
  inset-block-start: 10px;
  color: var(--accent-color);
  text-transform: uppercase;
  line-height: 1.4em;
}

.header_decoration::after {
  content: '';
  display: inline-block;
  align-items: center;
  margin-inline-start: 10px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  
}

.header::before,
.footer::before {
  content: '';
  position: absolute;
  inset-inline-end: 0px;
  inset-block-start: 0px;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}

.header::after,
.footer::after {
  content: '';
  position: absolute;
  inset-inline-start: 0px;
  inset-block-end: 0px;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}






.content {
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  gap: 20px;
}

.content__section {
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  gap: 20px;
}

.content__section:not(:last-of-type) {
  margin-block-end: 30px;
}

.section__heading {
  color: var(--h2-color);
}

.section__list {
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  gap: 20px
}

.accent-heading {
  color: var(--h3-color);
}

.card {
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  gap: 10px;
}

.card__description {
  color: var(--main-text-color);
}

.description-link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
  outline: none;
}

.description-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.description-link:focus-visible {
  border: 1px solid var(--main-text-color);
}

 .list-item__image {
  width: 100%;
}

.footer {
  block-size: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

}

.footer__title {
  color: var(--h1-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
}


@media (width >= 768px) {
  .page {
  gap: 60px;
  }

  .header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content 1fr;
  }

  .header__title-aligned {
  display: initial;
  }

  .header__description {
  grid-column: 2 / 3;
  grid-row: 3 / auto;
  }

  .content__section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  }

  .section__heading {
  grid-column: 1;
  }

  .section__list {
    grid-column: 2 / 3;
  }

  .column-style .section__heading {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .column-style .section__list {
    grid-column: 1 / 3;
  }

  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .gallery .section__heading {
    grid-column: 1 / 4;
  }

  .list-item__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .gallery .list-item__image:nth-child(2) {
    grid-column: 1 / 3;
  }

  .gallery .list-item__image:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .gallery .list-item__image:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .gallery .list-item__image:nth-child(6) {
    grid-column: 2 / 4;
  }

}

@media (width > 1024px) {


  .header__theme-menu {
    grid-column: 1/3;
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .content {
    gap: 80px;
  }

  .column-style .section__list {
    grid-auto-flow: column;
  }


}





