/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: 'IBM Plex mono', monospace;
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --h1-color: #DB00FF;
  --h2-color: #FF0070;
  --h3-color: #000028;
  --main-text-color: #F1B2CE;
  --title-decor-text-color: #000028;
  --accent-color: #FF0070;
  --button-color: #FF0070;
  --button-color-hover: #FF007066;
  --display-rec: none;
  --corner-color: #FF0070;
}
